[run]
source = backend
omit =
    backend/__init__.py
    backend/app_routes/__pycache__/*
    backend/attack_scripts/__pycache__/*
    backend/utils/__pycache__/*
    migrations/*
    venv/*

[report]
exclude_lines =
    # Don't report lines with debugging statements or pass statements
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
