# Python Bytecode
__pycache__/
*.py[cod]

#packages
**/Lib/
**/lib/
backend/Lib/
instance/
backend/Scripts
migrations/

# Virtual Environment
# Ignore common virtual environment folders and associated directories
venv/
env/
Lib/
Scripts/
Include/
pyvenv.cfg

# Environment Variables
.env
.env.*

# Logs
*.log
logs/

# Temporary Files
*.tmp
*.bak
*.swp
*.swo
*.~lock.*

# Operating System Files
.DS_Store
Thumbs.db

# Flask Instance and Config Files
instance/
config.py
instance/shieldbot.db
backend/migrations

# Database Files
*.sqlite3
*.db

# Test and Coverage
htmlcov/
.coverage
.cache

# Build Artifacts
dist/
build/
*.egg-info/
*.egg

# Docker
*.env.docker
docker-compose.override.yml

# IDE Files
.vscode/
.idea/

# Redis Dump File
dump.rdb
